<div class="ui container">
  <div class="ui grid">
    <div class="five wide column">
      <br>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <% if current_user.avatar.attached? %>
          <%= link_to image_tag(current_user.avatar, class: 'avatar'), current_user.avatar %>
          <% else %>
                          <%= image_tag("user_placeholder.png") %>
                        <% end %>
            <p> <p>
                  <label class="ui primary basic button">
                    <i class="photo icon"></i>
                    Upload new avatar
                    <span style="display:none;">
                      <%= f.file_field :avatar %>
                    </span>
                  </label>
                    <% if current_user.avatar.attached? %>
                  <%= link_to 'Remove avatar', delete_avatar_user_url(current_user.avatar), 
                method: :delete,
                class: 'ui red basic button',
                data: { confirm: 'Are you sure?' } %>
                 <% end %>
    </div>
    <div class="eleven wide column">
      <p>
        <h2 class="ui header">
          <% if current_user.name? %>
            <%= current_user.name %>
              <% end %>
                <div class="sub header">
                  <i class="mail icon"></i>
                  <%= current_user.email %>
                </div>
        </h2>
        <a href= <%=user_path(current_user) %> >View my profile as others see it</a>
      </p>
      <div class="ui form">

        <%= devise_error_messages! %>
          <p>
            <form class="ui form">
              <div class="two fields">
                <div class="field">
                  <label>Full Name:</label>
                  <div class="ui left icon input">

                    <%= f.text_field :name, autofocus: true, placeholder: 'Name'  %>
                      <i class="user icon"></i>
                  </div>
                </div>
                <div class="field">
                  <label>Role:</label>
                  <div class="ui fluid input">
                    <%= f.select :role, options_for_select(User.roles, f.object.role), :include_blank => "Select role..."%>
                  </div>
                </div>
                <div class="field">
                  <label>Team:</label>
                  <div class="ui fluid input">
                     <%= f.select :team_id, Team.all.collect{|team| [team.name, team.id]}, :include_blank => "Select team..."%>
                  </div>
                </div>
              </div>
              <p>
                <div>

                  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                    <div>Currently waiting confirmation for:
                      <%= resource.unconfirmed_email %>
                    </div>
                    <% end %>
                      <p>
                        <p>
                          <div class="ui segment">
                            <a class="ui red ribbon label">Change password here:</a>
                            <p>
                              <div class="two fields">

                                <div class="field">
                                  <div class="ui left icon input">
                                    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'New Password' %>
                                      <i class="privacy icon"></i>
                                  </div>
                                </div>
                                <div class="field">
                                  <div class="ui left icon input">
                                    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Confirm new Password' %>
                                      <i class="privacy icon"></i>
                                  </div>
                                </div>
                              </div>
                          </div>
                          <div class="ui segment">
                            <a class="ui green ribbon label">Enter your current password:</a>
                            <p>
                              <div class="field">
                                <div class="ui left icon input">
                                  <%= f.password_field :current_password, autocomplete: "off", placeholder: 'Current password' %>
                                    <i class="privacy icon"></i>
                                </div>
                              </div>
                          </div>
                </div>
                <p>
                  <div class="actions">
                    <%= f.submit "Update", class: 'ui primary button' %>
                      <%= link_to "Back", root_path, class: 'ui button' %>
                        <% end %>
                  </div>
            </form>
      </div>
    </div>