<div class="padding_container">
<% if Task.count > 0 %>
<table class="ui compact sortable striped selectable celled table">
  <thead class="ui inverted blue table">
    <tr>
      <th class="sorted descending">id</th>
      <th>Project</th>
      <th>Summary</th>
      <th>Priority</th>
      <th>TST</th>
      <th>DEV</th>
      <th>TST_EST</th>
      <th>DEV_EST</th>
      <th>EST</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
  <% Task.all.order(id: :desc).each do |t| %>
    <tr>
      <td><%= t.id %></td>
      <td><%= Project.find(t.project).name unless t.project.nil? %></td>
      <td><%= t.summary %></td>
      <td><%= t.priority %></td>
      <td><%= User.find(t.tst).email[0,4] unless t.tst.nil? %></td>
      <td><%= User.find(t.dev).email[0,4] unless t.tst.nil? %></td>
      <td><%= t.tst_est %></td>
      <td><%= t.dev_est %></td>
      <td><%= t.dev_est.to_i + t.tst_est.to_i %></td>
      <td><%= t.status %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
</div>

<script>
$('table').tablesort()
</script>