<div class="padding_container">

<%= render 'filter' %>

<% if Task.all.count > 0 %>
<table class="ui compact sortable striped selectable celled table">
  <thead class="ui inverted blue table">
    <tr>
      <th class="sorted descending">ID</th>
      <th>PROJECT</th>
      <th>SUMMARY</th>
      <th width="100pixels">TMS</th>
      <th width="140pixels">ISSUE</th>
      <th width="140pixels">CR</th>
      <th width="10%">COMMENT</th>
      <th width="7%">TAGS</th>
      <th>PRIORITY</th>
      <th>TST</th>
      <th>DEV</th>
      <th>TST_EST</th>
      <th>DEV_EST</th>
      <th>EST</th>
      <th>STATUS</th>
    </tr>
  </thead>
  <tbody>
  <% @tasks.each do |t| %>
    <tr>
      <td><%= link_to t.id.to_s, edit_task_path(t)%></a></td>
      <td><%= Project.find(t.project).name unless t.project.nil? %></td>
      <td><a class="summary" data-type= "text" data-pk= "" data-url= "<%=task_path(t) %>"> <%= t.summary %> </a> </td>
      <td>TMHS-0945</td>
      <td>ISS-GENE-45022IS</td>
      <td>CR-GENE-43245IS</td>
      <td>Will be fixed somehow</td>
      <td>TBD, NREP</td>
      <td><%= t.priority %></td>
      <td><%= User.find(t.tst).email[0,4] unless t.tst.nil? %></td>
      <td><%= User.find(t.dev).email[0,4] unless t.tst.nil? %></td>
      <td><a class="tst_est" data-type= "text" data-pk= "" data-url= "<%=task_path(t) %>"> <%= t.tst_est %></a></td>
      <td><a class="dev_est" data-type= "text" data-pk= "" data-url= "<%=task_path(t) %>"> <%= t.dev_est %></a></td>
      <td><%= t.dev_est.to_i + t.tst_est.to_i %></td>
      <td><a class="status" data-type= "select" data-pk= "" data-url= "<%=task_path(t) %>"><%= t.status %> </a> </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<%= paginate @tasks %>
</div>

<script>
$('table').tablesort();

$.fn.editable.defaults.mode = 'inline';
$.fn.editable.defaults.ajaxOptions = {type: "PUT"};

<% ["summary", "tst_est", "dev_est"].each do |fn| %>

$('.<%= fn %>').editable({   
  params: function(params) {
    var data = {};
    data["<%= fn %>"] = params.value;
    return data;
  }
}); 

<% end %>

$('.status').editable({   
  source: [   
              {value: '<%= Task.first.status%>', text: '<%= Task.first.status%>'}
           ],
  params: function(params) {
    var data = {};
    data["status"] = params.value;
    return data;
  }
}); 


</script>