<div class="padding_container">

<%= render 'filter' %>

<% if Task.all.count > 0 %>
<table class="ui compact sortable striped selectable celled table">
  <thead class="ui inverted blue table">
    <tr>
      <th class="sorted descending">ID</th>
      <th>PROJECT</th>
      <th>SUMMARY</th>
      <th>COMMENT</th>
      <th>TAGS</th>
      <th>PRIORITY</th>
      <th>TST</th>
      <th>DEV</th>
      <th>TST_EST</th>
      <th>DEV_EST</th>
      <th>EST</th>
      <th>STATUS</th>
    </tr>
  </thead>
  <tbody>
  <% @tasks.each do |t| %>
    <tr>
      <td><%= link_to t.id.to_s, task_path(t)%></a></td>
      <td><%= Project.find(t.project).name unless t.project.nil? %></td>
      <td><%= link_to t.summary, task_path(t) %></td>
      <td>.</td>
      <td>.</td>
      <td><%= t.priority %></td>
      <td><%= User.find(t.tst).email[0,4] unless t.tst.nil? %></td>
      <td><%= User.find(t.dev).email[0,4] unless t.tst.nil? %></td>
      <td><%= t.tst_est %></td>
      <td><%= t.dev_est %></td>
      <td><%= t.dev_est.to_i + t.tst_est.to_i %></td>
      <td><%= t.status %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<%= paginate @tasks %>
</div>

<script>
$('table').tablesort()
</script>