<div class="padding_container">

    <%= form_tag users_path, :method => 'get' do |f| %>
        <div class="ui form">
            <div class="five fields">
                <div class="field">
                    <div class="ui input">
                        <%= text_field_tag :email, params[:email], autofocus: true, placeholder: 'Email'  %>
                    </div>
                </div>
                 <div class="field">
                    <div class="ui input">
                        <%= text_field_tag :name, params[:name], placeholder: 'Name'  %>
                    </div>
                </div>
                   <div class="field">
                    <div class="ui fluid input">
                        <%= select_tag :role, options_for_select(User.roles), :include_blank => "Select role..."%>
                    </div>
                </div>
                                <div class="field">
                    <div class="ui fluid input">
                        <%= select_tag :team, options_for_select(@team_names), :include_blank => "Select team..." %>
                    </div>
                </div>
                <div class="inline field vertical_align">
                <div class="ui checkbox">
                <input type="checkbox" tabindex="0" class="hidden">
                <%= check_box_tag :active %>
                <label>Display not active users</label>
                </div>
                </div>
                <div class="actions">
                    <%= submit_tag "Filter users", class: 'ui primary button' %>
                </div>
            </div>
        </div>
        <% end %>



            <br>
            <% @users.each do |user| %>
                <% end %>
                    <div class="ui eight fluid cards">
                        <% @users.each do |user| %>
                            <div class="ui card">
                                <a class="image" href=<%=user_path(user) %> >
                                    <% if user.online? %>
                                        <span class="ui green right ribbon label">Online</span>
                                        <% else %>
                                            <span class="ui red right ribbon label">Offline</span>
                                            <% end %>
                                                <% if user.avatar.attached? %>
                                                    <%= image_tag user.avatar %>
                                                        <% else %>
                                                            <%= image_tag("user_placeholder.png") %>
                                                                <% end %>
                                </a>
                                <div class="content">

                                    <a class="header" href=<%=user_path(user) %> >
                                        <% if user.name?%>
                                            <%= user.name %>
                                                <% end %>
                                                    <div class="meta">
                                                        <span class="date">
                                                            <%= user.email %>
                                                        </span>
                                                    </div>
                                    </a>
                                    <p>
                                        <div class="right floated">
                                            <% if user.team_id? %>
                                                <%= Team.find(user.team_id).name %>
                                                    <% end %>
                                        </div>
                                        <%= user.role%>
                                </div>
                                <div class="extra content">
                                    <span>
                                        <i class="history icon"></i>
                                        Online:
                                        <%= time_ago_in_words(user.updated_at) %> ago.
                                    </span>
                                </div>
                            </div>
                            <% end %>
                    </div>
</div>

<script>
    $('.ui.checkbox')
  .checkbox()
;
    $(document).ready(function () {
        var content = [
            <% @users.each do |user| %> {
                title: '<%= user.email %>'
            },
            <% end %>
        ];

        $('.ui.search')
            .search({
                type: 'standard',
                source: content,
            });

    });
</script>