<div class="padding_container">
        <%= render 'filter'%>
        <br>
        <div class="ui eight fluid cards">
        <% @users.each do |user| %>
            <div class="ui card">
                <a class="image" href=<%=user_path(user) %> >
                    <% if user.avatar.attached? %>
                    <%= image_tag user.avatar %>
                    <% else %>
                    <%= image_tag("user_placeholder.png") %>
                    <% end %>
                </a>
                <div class="content">

                    <a class="header" href=<%=user_path(user) %> >
                    <% if user.online? %>
                        <a class="ui green empty circular label"></a>
                    <% else %>
                        <a class="ui red empty circular label"></a>
                    <% end %>
                    <% if user.name?%>
                        <%= user.name %>
                    <% end %>
                    <div class="meta">
                        <span class="date">
                            <%= user.email %>
                        </span>
                    </div>
                    </a>
                    <p>
                        <div class="right floated">
                            <% if user.team_id? %>
                                <%= Team.find(user.team_id).name %>
                                    <% end %>
                        </div>
                        <%= user.role%>
                </div>
                <div class="extra content">
                    <span>
                        <i class="history icon"></i>
                        Online:
                        <%= time_ago_in_words(user.updated_at) %> ago.
                    </span>
                </div>
            </div>
            <% end %>
        </div>
</div>

<script>
    $('.ui.checkbox').checkbox();
</script>