<div class="ui container">
<br>
  <div class="ui grid">
    <div class="five wide column">
    <div class="ui image">
    <% if @user.online? %>
                    <span class="ui green right ribbon label">Online</span>
                    <% else %>
                    <span class="ui red right ribbon label">Offline</span>
                    <% end %>
    <% if @user.avatar.attached? %>
          <%= link_to image_tag(@user.avatar, class: 'avatar'), @user.avatar %>
            <% else %>
             <%= image_tag("user_placeholder.png") %>
              <% end %>
    </div>
            <p> <p>
    <h1 class="ui header">
          <% if @user.name? %>
            <%= @user.name %>
              <% end %>
                <div class="sub header">
                  <i class="mail icon"></i>
                  <%= @user.email %>
                </div>
                <div class="sub header">
                  <i class="address card icon"></i>
                  <%= @user.role unless @user.role.nil? %>
                </div>
                  <div class="sub header">
                  <i class="users icon"></i>
                  <%= Team.find(@user.team_id).name unless @user.team_id.nil? %>
                </div>              
        </h1>  
</div>
 <div class="eleven wide column">

<div class="ui comments">
  <h3 class="ui dividing header">Last <%= @user.name != nil ? @user.name : @user.email %>'s Comments:</h3>
  <div class="comment">
    <a class="avatar">
      <% if @user.avatar.attached? %>
          <%= image_tag(@user.avatar) %>
            <% else %>
             <%= image_tag("user_placeholder.png") %>
              <% end %>
    </a>
    <div class="content">
      <a class="author"><%= @user.email %></a>
      <div class="metadata">
        <span class="date">Today at 5:42PM</span>
              <div class="actions">
        <a class="reply">Task #0126</a>
      </div>
      </div>
      <div class="text">
        How artistic!
      </div>

    </div>
  </div>
  <div class="comment">
    <a class="avatar">
           <% if @user.avatar.attached? %>
          <%= image_tag(@user.avatar) %>
            <% else %>
             <%= image_tag("user_placeholder.png") %>
              <% end %>
    </a>
    <div class="content">
      <a class="author"><%= @user.email %></a>
      <div class="metadata">
        <span class="date">Yesterday at 12:30AM</span>
              <div class="actions">
        <a class="reply">Task #0126</a>
      </div>
      </div>
      <div class="text">
        <p>This has been very useful for my research. Thanks as well!</p>
      </div>
    </div>
  </div>
    <div class="comment">
    <a class="avatar">
     <% if @user.avatar.attached? %>
          <%= image_tag(@user.avatar) %>
            <% else %>
             <%= image_tag("user_placeholder.png") %>
              <% end %>
    </a>
    <div class="content">
      <a class="author"><%= @user.email %></a>
      <div class="metadata">
        <span class="date">Yesterday at 12:30AM</span>
              <div class="actions">
        <a class="reply">Task #0126</a>
      </div>
      </div>
      <div class="text">
        <p>This has been very useful for my research. Thanks as well!</p>
      </div>
    </div>
    
  </div>

</div>


 </div>
 </div>