<!DOCTYPE html>
<html>

<head>
  <title>Task Tracker</title>
  <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <% if user_signed_in? %>
    <div class="ui attached stackable menu">
      <a class="item" href=<%=root_path %>>Home</a>
      <a class="item">My Dashboard</a>
      <a class="item">BurnDown</a>
      <% if current_user.is_admin? %>
        <a class="item">Admin</a>
      <% end %>
      <div class="item ">

        <div class="ui action input">
          <input type="text" placeholder="Search...">
          <div class="ui primary button">Search</div>
        </div>

      </div>

      <div class="right menu">  
        <% if current_user.name? %>
          <%= link_to current_user.name,edit_user_registration_path, class: "item" %>
            <% else %>
              <%= link_to current_user.email,edit_user_registration_path, class: "item"  %>
                <% end %>
                  <%= link_to 'Log out', destroy_user_session_path, :method => :delete, class: "item" %>

      </div>
    </div>
    <% end %>
      <%= yield %>

</body>

</html>